body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
p{
  margin-bottom: 0 !important;
}
.Excellent {
  background-color: #5c9900;
}
.Good {
  background-color: #ff9900;
}
.Poor {
  background-color: #b82e2e;
}
#nodata div {
  display: none;
}
#nodata .nodatamsg {
  position: absolute;
  z-index: 1;
  display: block;
  text-align: center;
}
#hasdata .nodatamsg {
  display: none;
}
